body{
    margin: 0;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}



.b-section{
    background-color: #F5F5F7;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
}

.b-section__left{
    width: 50%;
    padding: 3%;
    box-sizing: border-box;
    text-align: center;
}

.b-section__right{
    width: 50%;
    padding: 3%;
    box-sizing: border-box;
}

.b-text{
    font-size: 21px;
    font-family: Arial;
    color: #1D1D1F;
    font-weight: 400;
    margin: 0;
}

.b-text--xl{
    font-size: 48px;
    font-weight: 600;
}

.b-logo{
    width: 125px;
}

.b-btn{
    background-color: #0171E2;
    border-radius: 25px;
    border: 0;
    padding: 8px 18px;
    color: #FFFFFF;
    font-size: 17px;
}

.u-mt-5{
    margin-top: 14px;
}

.u-mt-7{
    margin-top: 28px;
}

.u-ml-5{
    margin-left: 14px;
}

.u-color-primary{
    color: #0171E2;
}

.u-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}